<div id="guInteractive">
<div class="introduction">
	<div id="titleContainer">
		<h1>What effect doest the threshold have on results?</h1>
		<div id="stepper">
			<button on-click="clickStepper:back" class="stepperButton back"></button>
			<button on-click="clickStepper:next" class="stepperButton"></button>
		</div>
	</div>

	<p>In the <button class="{{#if currentElection==='turkey2002'}}active{{/if}}" on-click="switchDataset:turkey2002">Turkish elections 2002</button> the threshold had a dramatic effect on the outcome. However, in the <button class="{{#if currentElection==='turkey2011'}}active{{/if}}" on-click="switchDataset:turkey2011">Turkish elections 2011</button> it had little impact. If the Turkish electoral system had been used during the <button class="{{#if currentElection==='uk2015'}}active{{/if}}" on-click="switchDataset:uk2015">British elections 2015</button>, <button class="{{#if currentElection==='germany2013'}}active{{/if}}" on-click="switchDataset:germany2013">German elections 2013</button> and <button class="{{#if currentElection==='australia2013'}}active{{/if}}" on-click="switchDataset:australia2013">Australian elections 2013</button>, the parliaments of those countries would look very different.</p>
</div>

<div id="electionContainer">
	<div id="electionInfo">
		{{#each electionData}}
			{{#if id === currentElection}}
			<h2>{{name}}</h2>
			<div id="stepper">
				<button on-click="clickStepper:back" class="stepperButton back"></button>
				<button on-click="clickStepper:next" class="stepperButton"></button>
			</div>
			{{/if}}
		{{/each}}
	</div>
	<div id="vizContent" class="{{#if threshold}}threshold-visible{{/if}}">
			{{#each electionData}}
				{{#if id === currentElection}}
				<div id="yAxis">
				{{#each election_results}}
					<div class="yLabel {{#if threshold_affect}}belowThreshold{{/if}}">
						<p>{{party}} <span>{{vote_percentage}}%</span></p>
					</div>
				{{/each}}
				</div>
				{{/if}}
			{{/each}}
			<div id="vizWrapper"></div>
			<div class="thresholdSwitchContainer">
				<button class="thresholdSwitch threshold-is-{{threshold}}" on-click="switchThreshold"><span></span></button>
				<p>threshold {{#if threshold}}on{{else}}off{{/if}}</p>
			</div>
		</div>
	</div>
</div>