<div id="guInteractive">
<div class="introduction">
	<div id="titleContainer">
		{{#if simple}}
		<h1>Interactive: See the effect of the threshold on results</h1>
		{{else}}
		<h1>What effect does the threshold have on results?</h1>
		{{/if}}

		<div id="stepper">
			<button on-click="clickStepper:back" class="stepperButton back"></button>
			<button on-click="clickStepper:next" class="stepperButton"></button>
		</div>
	</div>
		{{#if simple}}
			<p>
			<span class="{{#if currentElection==='turkey2002'}}hilite{{/if}}">In the <button class="{{#if currentElection==='turkey2002'}}active{{/if}}" on-click="switchDataset:turkey2002">Turkish elections 2002</button> the threshold had a dramatic effect on the outcome.</span>
			<span class="{{#if currentElection==='turkey2011'}}hilite{{/if}}">However, in the <button class="{{#if currentElection==='turkey2011'}}active{{/if}}" on-click="switchDataset:turkey2011">Turkish elections 2011</button> it had little impact.</span>
			<span class="{{#if currentElection==='turkey2015'}}hilite{{/if}}">The threshold was a key focus of the <button class="{{#if currentElection==='turkey2015'}}active{{/if}}" on-click="switchDataset:turkey2015">Turkish elections 2015</button> as the HDP campaigned to become the first pro-Kurdish party to surpass it.</span>
			<span class="{{#if currentElection==='uk2015'}}hilite{{/if}}{{#if currentElection==='germany2013'}}hilite{{/if}}{{#if currentElection==='australia2013'}}hilite{{/if}}">If the Turkish electoral system had been used during the <button class="{{#if currentElection==='uk2015'}}active{{/if}}" on-click="switchDataset:uk2015">British elections 2015</button>, <button class="{{#if currentElection==='germany2013'}}active{{/if}}" on-click="switchDataset:germany2013">German elections 2013</button> and <button class="{{#if currentElection==='australia2013'}}active{{/if}}" on-click="switchDataset:australia2013">Australian elections 2013</button>, the parliaments of those countries would look very different.</p>
		{{else}}
			<p id='introMobile'>
			<span class="{{#if currentElection==='turkey2002'}}hilite{{/if}}">In the <button class="{{#if currentElection==='turkey2002'}}active{{/if}}" on-click="switchDataset:turkey2002">Turkish elections 2002</button> the threshold had a dramatic effect on the outcome.</span> 
			<span class="{{#if currentElection==='turkey2011'}}hilite{{/if}}">However, in the <button class="{{#if currentElection==='turkey2011'}}active{{/if}}" on-click="switchDataset:turkey2011">Turkish elections 2011</button> it had little impact.</span> 
			<span class="{{#if currentElection==='turkey2015'}}hilite{{/if}}">The threshold was a key focus of the <button class="{{#if currentElection==='turkey2015'}}active{{/if}}" on-click="switchDataset:turkey2015">Turkish elections 2015</button> as the HDP campaigned to become the first pro-Kurdish party to surpass it.</span> 
			<span class="{{#if currentElection==='uk2015'}}hilite{{/if}}{{#if currentElection==='germany2013'}}hilite{{/if}}{{#if currentElection==='australia2013'}}hilite{{/if}}">If the Turkish electoral system had been used during the <button class="{{#if currentElection==='uk2015'}}active{{/if}}" on-click="switchDataset:uk2015">British elections 2015</button>, <button class="{{#if currentElection==='germany2013'}}active{{/if}}" on-click="switchDataset:germany2013">German elections 2013</button> and <button class="{{#if currentElection==='australia2013'}}active{{/if}}" on-click="switchDataset:australia2013">Australian elections 2013</button>, the parliaments of those countries would look very different.</p>

			<p id='introDesktop'>
			<span class="{{#if currentElection==='turkey2002'}}hilite{{/if}}">In the <button class="{{#if currentElection==='turkey2002'}}active{{/if}}" on-click="switchDataset:turkey2002">Turkish elections 2002</button> this threshold had a dramatic effect on the outcome, giving the ruling AKP a bonus 102 seats, almost enough to allow it to change the constitution without a referendum.</span> 
			<span class="{{#if currentElection==='turkey2011'}}hilite{{/if}}">In the <button class="{{#if currentElection==='turkey2011'}}active{{/if}}" on-click="switchDataset:turkey2011">Turkish elections 2011</button> this threshold had no effect on the outcome, because the parties that received less than 10% of the national vote did not win any seats.</span> 
			<span class="{{#if currentElection==='turkey2015'}}hilite{{/if}}">At first glance, the threshold had little effect on the outcome of the <button class="{{#if currentElection==='turkey2015'}}active{{/if}}" on-click="switchDataset:turkey2015">Turkish elections 2015</button>, but the threshold was a focus of the election campaign with the HDP campaigning to become the first pro-Kurdish party to receive more than 10% of the national vote.</span> 
			<span class="{{#if currentElection==='uk2015'}}hilite{{/if}}">If you applied it to the <button class="{{#if currentElection==='uk2015'}}active{{/if}}" on-click="switchDataset:uk2015">British elections 2015</button>, Ukip would have won 10 seats, but SNP and Liberal Democrats would have had to forfeit their seats as they did not achieve the national threshold.</span> <span class="{{#if currentElection==='germany2013'}}hilite{{/if}}{{#if currentElection==='australia2013'}}hilite{{/if}}">A similar reduction in seats held by smaller parties would have applied in the <button class="{{#if currentElection==='germany2013'}}active{{/if}}" on-click="switchDataset:germany2013">German elections 2013</button> and <button class="{{#if currentElection==='australia2013'}}active{{/if}}" on-click="switchDataset:australia2013">Australian elections 2013.</button></span></p>
		{{/if}}
</div>

<div id="electionContainer">
	<div id="electionInfo">
		{{#each electionData}}
			{{#if id === currentElection}}
			<h2>{{name}}</h2>
			<div id="stepper">
				<button on-click="clickStepper:back" class="stepperButton back"></button>
				<button on-click="clickStepper:next" class="stepperButton"></button>
			</div>
			{{/if}}
		{{/each}}
	</div>
	<div id="vizContent" class="{{#if threshold}}threshold-visible{{/if}}">
			{{#each electionData}}
				{{#if id === currentElection}}
				<div id="yAxis" class="{{currentElection}}">
				{{#each election_results}}
					<div class="yLabel {{#if threshold_affect}}belowThreshold{{/if}} {{party}}">
						<p>{{party}}{{#if party==="Ind" && currentElection==="turkey2011"}}*{{/if}}<span>{{vote_percentage}}%</span></p>
					</div>
				{{/each}}
				</div>
				{{/if}}
			{{/each}}
			<div id="vizWrapper"></div>
			<div class="thresholdSwitchContainer">
				<button class="thresholdSwitch threshold-is-{{threshold}}" on-click="switchThreshold"><span></span></button>
				<p>threshold {{#if threshold}}on{{else}}off{{/if}}</p>
			</div>
			{{#if currentElection==="turkey2011" || currentElection==="turkey2015"}}
				<p class="footnote">*HDP previously ran as independents to bypass the 10% threshold</p>
			{{/if}}
		</div>
	</div>
</div>