<div id="guInteractive">
{{#each data}}
	{{#if id === currentParty}}
		<div id="profileContainer">
			<div id="infoContainer">
				<h1><span>{{translation}}</span> ({{name}})</h1>
				<div id="photoContainer">
					<div id="leaderPhoto" style="background-image:url(@@assetPath@@/imgs/{{id}}_leader.jpg)"></div>
					<img src="@@assetPath@@/imgs/{{id}}_logo.png" id="partyPhoto"/>
				</div>
				
				<ul>
					<li><span>Leader</span> {{leader}}</li>
					<li><span>Percentage of vote won in 2011</span> {{seats}}</li>
					<li><span>Predicted percentage of vote in 2015</span>  {{polls}}%</li>
				</ul>	
			</div>
		</div>
	{{/if}}
{{/each}}
</div>